
@media screen and (max-width: 995px) { 
   
    .settings{
        width: 95%;
        margin: auto;
        padding: 0;
        color: white;
    }
    .form-floating{
        margin: 0;
        padding: 0;
        color: black;
    }

  
}
@media screen and (min-width: 995.0001px) { 

    .settings{
        width: 40%;
        margin: auto;
        padding: 0;
        color: white;
    }
    .form-floating{
        margin: 0;
        padding: 0;
        color: black;
    }

}


